html {
  overflow-x: hidden; }

body {
  background-color: #F1F1F1;
  overflow-x: hidden; }

a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer; }

.main_side_menu {
  margin: 10px; }
  .main_side_menu .tabindex {
    padding: 10px; }

.flex {
  display: flex; }

button {
  border: 1px solid black;
  border-radius: 5px; }

div.one {
  background-color: #D8BF95;
  height: 50px; }
  div.one p {
    position: relative;
    top: 20%; }

@media screen and (max-width: 400px) {
  div.one {
    height: 30px; }
    div.one p {
      top: 10%;
      font-size: 75%; } }
nav.two {
  max-height: 66px; }
  nav.two a {
    color: black;
    text-transform: uppercase;
    position: relative;
    margin-top: 12px;
    top: 5px;
    text-decoration: none; }
    nav.two a:hover {
      color: orange; }
  nav.two div button {
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    cursor: pointer; }
  nav.two .name_site {
    margin: 10px;
    text-decoration: none;
    font-size: 200%; }
  nav.two .side button:hover, nav.two .side button:focus {
    background-color: orange;
    color: white; }
  nav.two .side .company {
    font-size: 120%; }
  nav.two .languages-main {
    position: relative;
    display: inline-block; }
    nav.two .languages-main a:active {
      color: #C4C4C4; }
    nav.two .languages-main .languages-btn {
      background-color: lightgrey;
      width: 50px;
      height: 50px;
      color: white;
      padding: 5px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 5px; }
      nav.two .languages-main .languages-btn:hover, nav.two .languages-main .languages-btn:focus {
        background-color: orange;
        color: white; }
      nav.two .languages-main .languages-btn p {
        position: relative;
        top: 5px; }
    nav.two .languages-main #languages-content {
      display: none;
      position: relative;
      background-color: whitesmoke;
      z-index: 10000;
      box-shadow: 2px 2px 2px 2px grey;
      border: 0.5px solid grey;
      border-radius: 5px; }
      nav.two .languages-main #languages-content a {
        text-decoration: none;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px; }
        nav.two .languages-main #languages-content a:hover {
          background-color: orange;
          color: white; }

#sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1s;
  z-index: 3000;
  background-color: white; }
  #sidenav .flex .name_site_side {
    margin: 10px;
    text-decoration: none;
    font-size: 200%;
    color: orange;
    position: relative;
    top: 40%; }
  #sidenav .flex .close {
    cursor: pointer;
    font-size: 160%;
    padding-right: 20px;
    height: 50px;
    margin-top: 5px;
    margin-left: 20px; }
    #sidenav .flex .close img {
      width: 45px;
      height: 45px;
      position: relative;
      right: 4px; }
  #sidenav div h2 {
    vertical-align: center;
    position: relative;
    top: 10px; }
  #sidenav p {
    border-radius: 10px;
    padding: 15px; }
    #sidenav p:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
      #sidenav p:hover a {
        color: orange; }
    #sidenav p a {
      text-decoration: none;
      font-size: 130%; }

.show {
  display: block; }

.stimulus {
  padding: 30px; }
  .stimulus p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400; }

div.newArrivals {
  padding: 70px 0px 70px 0px; }
  div.newArrivals h3 {
    margin-left: 10px; }

div.products {
  margin: 50px 0px 30px 0px; }
  div.products div {
    overflow: hidden;
    margin: 5px; }
    div.products div img {
      margin-top: 8px;
      width: 75%;
      height: 450px; }

div.buy {
  height: 50px;
  padding: 2px;
  background-color: lightgrey;
  position: relative; }
  div.buy input {
    border: none;
    background-color: greenyellow; }
    div.buy input:hover {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  div.buy p.price {
    position: relative;
    top: 25%;
    vertical-align: middle;
    text-decoration: none; }

.way_create_main {
  margin: 100px 30px 100px 30px; }

@media screen and (max-width: 300px) {
  .text {
    font-size: 11px; } }
@media screen and (max-width: 700px) {
  @keyframes Leftmove {
    0% {
      transform: translateX(20px); }
    100% {
      transform: translateX(0px); } }
  .catalog_content_main .catalog_content .products_item {
    position: relative;
    animation-name: Leftmove;
    animation-duration: 1s; }

  div.products div img {
    height: 250px; }

  div.extra {
    display: none; }

  .mySlides {
    display: none; }
    .mySlides img {
      max-width: 90%;
      width: 90%; }

  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    position: relative;
    margin: auto; }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%; }

  .active {
    background-color: #717171; }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s; }

  @keyframes fade {
    from {
      opacity: .4; }
    to {
      opacity: 1; } }
  .main_block_basic, .images_mittel_block, .books_block, .ring_demonstration_block {
    width: 700px;
    max-width: 700px;
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer; }

  .main_block_basic_child, .images_mittel_block .images_mittel, .books_block .books, .ring_demonstration_block .ring_demonstration {
    overflow: hidden;
    width: 700px;
    max-width: 700px; }

  .main_block_basic_child_img, .images_mittel_block .images_mittel img, .books_block .books img, .ring_demonstration_block .ring_demonstration img {
    width: 100%;
    height: 100%;
    overflow: hidden; }

  .images_mittel, .books, .ring_demonstration {
    overflow: hidden;
    width: 700px;
    max-width: 700px; }

  .images_mittel img, .books img, .ring_demonstration img {
    width: 100%;
    height: 100%;
    overflow: hidden; }

  .images_mittel, .books, .ring_demonstration {
    overflow: hidden;
    width: 700px;
    max-width: 700px; }

  .images_mittel img, .books img, .ring_demonstration img {
    width: 100%;
    height: 100%;
    overflow: hidden; }

  .animate {
    transform: translate(-40%);
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: linear; }

  .animate1 {
    transform: translate(0%);
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: linear; }

  .way_create_main .way_create_content {
    margin: 40px; }
    .way_create_main .way_create_content .way_create_slide {
      animation-name: Leftmove;
      animation-duration: 1s; }
      .way_create_main .way_create_content .way_create_slide div img {
        width: 185px;
        height: 185px; }
      .way_create_main .way_create_content .way_create_slide p {
        font-size: 150%; } }
.subscribe_block .subscribe_slogan {
  border-bottom: 1px solid white;
  vertical-align: bottom;
  position: relative;
  top: 40%; }
  .subscribe_block .subscribe_slogan p {
    font-size: 140%; }

@media screen and (min-width: 701px) {
  img {
    vertical-align: middle;
    max-width: 100%; }

  div.extra {
    margin-top: 40px;
    display: block; }

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto; }

  div.products {
    /* Slideshow container */
    max-width: 100%;
    position: relative;
    margin: auto; }

  .mySlides {
    max-width: 33%; }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 33%;
    text-align: center; }

  .active {
    background-color: #717171; } }
div.footer_main {
  padding: 100px 30px 30px 30px; }
  div.footer_main a {
    text-decoration: none; }
  div.footer_main .social_footer a img {
    width: 40px;
    height: 40px; }
  div.footer_main .languages_footer {
    vertical-align: middle;
    position: relative;
    top: 25%; }
    div.footer_main .languages_footer a {
      padding: 10px; }
  div.footer_main .footer_part {
    margin-top: 20px; }

div.catalog_main {
  margin-top: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 50px; }
  div.catalog_main .catalog_content_main {
    margin-top: 30px;
    padding-bottom: 50px;
    vertical-align: middle; }
    div.catalog_main .catalog_content_main .catalog_content .products_item {
      margin-left: 4%;
      margin-right: 4%; }
      div.catalog_main .catalog_content_main .catalog_content .products_item:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
      div.catalog_main .catalog_content_main .catalog_content .products_item img {
        min-width: 100%;
        max-width: 100%;
        height: 100%; }
      div.catalog_main .catalog_content_main .catalog_content .products_item .overlay {
        position: relative;
        width: 100%;
        bottom: 20%;
        opacity: 1;
        height: 20%;
        background: rgba(0, 0, 0, 0.5); }
        div.catalog_main .catalog_content_main .catalog_content .products_item .overlay span {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
          font-size: 150%; }

@media screen and (max-width: 500px) {
  div.catalog_main .catalog_content_main .catalog_content .products_item .overlay span {
    font-size: 110%; } }
.subscribe_block {
  height: 500px;
  margin-top: 100px; }
  .subscribe_block .captions p {
    margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
